
#container{
	margin-bottom:0px;
}

#inner-container{
	margin-top: 0px;
	background-color: #f5f5f5;
	border-top: solid #666;
}

h1{

	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 100px;
	font-family: 'Rokkitt', serif;
	font-weight: lighter;
	color: #e00000;

	font-style: italic;

}

h2{ 
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	font-weight: lighter;
	font-family: 'Rokkitt', serif;
	font-size: 44px;
	


}

h3{
	margin-top: 0px;
	padding-top: 0px;
	font-weight: lighter;
	font-family: 'Rokkitt', serif;
	font-size: 22px;
	line-height: 34px;

}


h4{
	margin-top: 0px;
	margin-bottom: 3px;
	padding-top: 0px;
	font-family: 'Rokkitt', serif;
	font-size: 21px;


}

h5{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 5px;
	font-weight: lighter;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	font-style: italic;
}

ul{
	font-size: 16px;
	font-family: 'Rokkitt', serif;
	padding-left: 16px;
	line-height: 20px;
	margin-top: 0px;
}

p{
	font-family: 'Rokkitt', serif;
	font-size: 20px;
}

#email{
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	color: black;
	margin-top: 10px;
	float: right;
	text-decoration: none;
}

#hd{
	float: left;
	width: 60%;
	display:none;
}

#h4{
	width:50%;
}

#contact-info{
	float: right;
	font-size: 30px;
}

#contact-info p{
	text-align: right;
	margin-bottom:0px;
	margin-top:12px;
	font-size: 16px;
}

#about-me{
	margin: 0em auto;
	max-width: 740px;
	min-width:645px;
	padding-top: 120px;
	text-align: center;
}

#header{
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	height:100px;
}



#printme { 
	float:right;
	font-size: 14px;
	background: #666; 
	color: white; 
	padding: 2px 12px 2px 12px; 
	text-decoration: none; 
	border: 2px solid black;
	margin-bottom: 13px;
}
a#printme:hover {
	background: #222;
}

.block {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc; 
	overflow: hidden;
	vertical-align: middle;
}

.enlarge{
	font-size: 110%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.first-block{
	width: 20%;
	float: left;
	vertical-align: bottom;
}

.second-block{
	float:right;
	width:80%;
	margin-bottom:0px;
	vertical-align: middle;
}


.work-block{
	margin-bottom:0px;

}

.date p{
	font-size: 16px;
	float:right;
	margin-top: 0px;
}

.job-title{ 
	float: left;
	width:60%;

}

.skillblock{
	width:33%;
	float: left;
}

.skillblock ul{
	list-style-type: none;
	padding-left: 0px;
}

#outer-container{
	max-width: 740px;
	min-width:645px;
	margin: 0em auto;
	height:94px;
	
}

#logo{
	width:200px;
	margin-right:0px;
	float:left;

}

nav{
	width:415px;
	float:right;
	padding-top: 66px;
}
nav ul{
	text-align: right;
	margin-bottom: 8px;
	margin: 0em auto;
}

nav ul li{
	display: inline;
	margin-bottom: 0px;
}
nav ul li:after {
  content: " | ";
} 

nav ul li a{
	font-family: 'Rokkitt', serif;
	color: black;
	text-decoration: none;
	padding: 1.8em;
}

nav ul li a:hover{
	color: #CC0000;
	text-decoration: underline;
}

#first-li:before{
	content: " | ";
} 

#contact-info{
	margin-top:5px;
}

a:-webkit-any-link {
	text-decoration: none;
	color: black;
}

body{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

