@media print{


header{
	display:none;
}
footer{
	display:none;
}


/*For some reason the majority of my selectors would not overwrite unless I used the "!important" property. 
I realize the font-style is not Times but even with the !important tag the style would not overwrite. 
I could not figure out why this is happening so this is as good of a print-style sheet as I could make.*/

h1{
	font-size: 32pt !important;
	font-family: "Times New Roman", serif !important;
}
h2 {
	font-size: 20pt !important;
}
h3{
	font-size: 18pt !important;
}

section{
	padding-top: 0 !important;
}

article{
	padding: 10pt !important;
}

body{
	margin-right: 20pt !important;
	margin-left: 20pt !important;
	background-color: #fff !important;
}

}