header{
	margin: 0em auto;
	background-color: white;
	border-bottom: 3px solid #940000; 
}

body{
	margin-top: 0px;
	background-color: #E0E0E0;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

section{
	margin: 0em auto;
	max-width: 800px;
	min-width:645px;
	padding-top: 90px;

}

article{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #940000;
	overflow: hidden;
	vertical-align: middle;
}


nav{
	width:415px;
	float:right;
	padding-top: 66px;
}
nav ul{
	text-align: right;
	margin-bottom: 8px;
	margin: 0em auto;
}

nav ul li{
	display: inline;
	margin-bottom: 0px;
}
nav ul li:after {
  content: " | ";
} 

nav ul li a{
	font-family: 'Rokkitt', serif;
	color: black;
	text-decoration: none;
	padding: 1.8em;
}

nav ul li a:hover{
	color: #CC0000;
	text-decoration: underline;
}

#first-li:before{
	content: " | ";
} 

#contact-info{
	margin-top:5px;
}

a:-webkit-any-link {
	color: black;
}


footer{
	max-width: 800px;
	min-width:645px;
	margin: 0 auto;
	padding-top: 24px;
	border-top: 1px solid #940000; 
	padding-left:0px;
}

footer ul{
	font-style: italic;
	font-size: 16px;
	text-align: center;
	margin-bottom: 8px;
	margin: 0em auto;
}

footer ul li{
	display: inline;
	margin-bottom: 0px;
	padding: 1.5em;
}

#hd{
	max-width: 800px;
	min-width:645px;
	margin: 0em auto;
	width:100%;
	height:90px;
}

h1{
	margin-top: 10px;
	margin-bottom: 0px;
	padding-top: 0px;
	font-weight: lighter;
	font-family: 'Rokkitt', serif;
	font-size: 60px;
	font-style: italic;
	text-shadow: -1px 0 white, 0 3px white, 3px 0 white, 0 -1px white;
	letter-spacing: 4px;

}

h2{ 
	margin-top: 0px;
	padding-top: 0px;
	font-weight: lighter;
	font-family: 'Rokkitt', serif;
	font-size: 28px;
	font-style: italic;
	text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
}

h3{
	margin-top: 0px;
	padding-top: 0px;
	font-weight: lighter;
	font-family: 'Rokkitt', serif;
	font-size: 22px;
	font-style: italic;
}


h4{
	margin-top: 0px;
	margin-bottom: 3px;
	padding-top: 0px;
	font-family: 'Rokkitt', serif;
	font-size: 21px;


}

h5{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 5px;
	font-weight: lighter;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	font-style: italic;
}

#title{
	text-align: center;
	border-bottom:2px solid #940000;
}

#last-article{
	border-bottom: none;
}

ul{
	font-size: 16px;
	font-family: 'Rokkitt', serif;
	padding-left: 16px;
	line-height: 20px;
	margin-top: 0px;
}

p{
	font-family: 'Rokkitt', serif;
	font-size: 20px;
}

.enlarge{
	font-size: 120%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.first-block{
	width: 20%;
	float: left;
	vertical-align: bottom;
}

.second-block{
	float:right;
	width:80%;
	margin-bottom:0px;
	vertical-align: middle;
}


.work-block{
	margin-bottom:0px;

}

.date p{
	font-size: 16px;
	float:right;
	margin-top: 0px;
}

.job-title{ 
	float: left;
	width:60%;

}

.skillblock{
	width:33%;
	float: left;
}

.skillblock ul{
	list-style-type: none;
	padding-left: 0px;
}


#logo{
	margin-right:0px;
	float:left;
}
